# *psycopg2* を使うサンプル

*psycopg2* モジュールを使ってデータベースに接続します。テーブルを作成し、[ipython-sql](https://github.com/catherinedevlin/ipython-sql) の ``%%sql`` でクエリの結果を確認します。

Python モジュールを読み込み、環境変数から接続情報を取得します。

In [1]:
import os

import psycopg2

pgconfig = {
    'host': os.getenv('PGHOST'),
    'port': os.getenv('PGPORT', 5432),
    'database': os.getenv('PGDATABASE'),
    'user': os.getenv('PGUSER'),
    'password': os.getenv('PGPASSWORD'),
}

環境変数から取得した接続情報でデータベースに接続します。

In [2]:
conn = psycopg2.connect(**pgconfig)
conn

SQL を実行するためのカーソルを取得します。

In [3]:
cur = conn.cursor()

テーブルを定義します。

In [4]:
cur.execute('''
DROP TABLE IF EXISTS t ;

CREATE TABLE t (
    id SERIAL,
    code CHAR(2) NOT NULL,
    name TEXT NOT NULL,
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now()
)''')

データを登録します。

In [5]:
cur.execute('''
INSERT INTO t (
    code, name
) VALUES
    ('01', '北海道'),
    ('47', '沖縄県')
''')

データを取得します。

In [6]:
cur.execute("SELECT * FROM t")
print(cur.fetchone())
print(cur.fetchone())

(1, '01', '北海道', datetime.datetime(2020, 4, 18, 4, 39, 3, 863924))
(2, '47', '沖縄県', datetime.datetime(2020, 4, 18, 4, 39, 3, 863924))

カーソルを閉じます。

In [7]:
cur.close()

登録したデータをコミットしてから接続を閉じます。

In [8]:
conn.commit()
conn.close()

`%%sql` コマンドを使ってデータ登録内容を確認します。接続情報は環境変数 *DATABASE_URL* から読み込みます。異なるデータベースに接続する場合は *postgresql://*  から始まる接続文字列を与えます。

In [9]:
%load_ext sql

In [10]:
%sql select * from t;

2 rows affected.

[(1, '01', '北海道', datetime.datetime(2020, 4, 18, 4, 39, 3, 863924)),
 (2, '47', '沖縄県', datetime.datetime(2020, 4, 18, 4, 39, 3, 863924))]

[pgspecial](https://pypi.org/project/pgspecial/) でメタコマンドを実行してテーブルなどの一覧を確認します。

In [11]:
%sql \d

 * postgresql://postgres:***@postgres/postgres
2 rows affected.

[('public', 't', 'table', 'postgres'),
 ('public', 't_id_seq', 'sequence', 'postgres')]